*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --header-bg: rgb(228,67,50);
  --white: #fff;
  --nav-bg: rgb(250,250,250);
  --btn-hover: rgb(236,236,236);
  --form-outline-color: rgb(221,221,221);
}


input {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

button {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
  text-align: left;
  background: none;
}

button:hover {
  background: var(--btn-hover);
}

i {
  margin-right: 10px;
}

.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  
}

#header {
  width: 100%;
  height: 45px;
  background: var(--header-bg);
  padding: 5px;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

#header-container {
  width: 100%;
  height: 100%;
}

.logo-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 100%;
}

.logo-container span {
  color: var(--white);
  font-size: 1.5rem;
}

.nav {
  width: 300px;
  min-width: 250px;
  padding: 20px;
  background: var(--nav-bg);
  height: calc(100vh - 50px);
}

.active {
  background-color: var(--btn-hover);
}

.button-default-project {
  display: flex;
  justify-content: space-between;
}

.button-default-project div {
  display: flex;
  align-items: center;
}

.display-section {
  margin-bottom: 38px;
  padding-bottom: 2px;
  width: 100%;
}

.todo-list-display-container, 
.overdue-task-display-container {
  padding: 35px 55px 0 55px;
  width: 90%;
}

.list-header {
  padding-bottom: 15px;
}

.add-task-button {
  display: flex;
  padding-left: 0px;
  align-items: center;
  padding-top: 5px;
}

.add-task-button:hover {
  background: none;
  color: var(--header-bg);
}

#add-task-image, #project-image {
  height: 13px;
  margin-right: 5px;
}

#addTaskForm  {
  font-size: 13px;
  font-family: inherit;
  padding-top: 10px;
}

#addTaskFormTop {
  min-height: 115px;
  width: auto;
  margin: 0 0 10px 0;
  border: var(--form-outline-color) solid 1px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 30px 80px 40px;
  grid-template-columns: 110px auto;
}

#taskTitleArea {
  grid-row: 1/2;
  grid-column: 1/3;
  min-height: 65px;
  width: 95%;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  font-size: inherit;
}

#taskDetailsArea {
  grid-row: 2/3;
  grid-column: 1/3;
  min-height: 65px;
  width: 95%;
  padding: 10px;
  font-family: inherit;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
}

#dueDate {
  grid-row: 3/4;
  width: 100px;
  height: 30px;margin: auto;
  margin-left: 10px;
  line-height: 100%;
  text-align: center;
  padding: 0px;
  border-radius: 5px;
  border: var(--form-outline-color) solid 1px;
}

#add-new-task-button {
  background-color: var(--header-bg);
  color: white;
  width: fit-content;
  margin-right: 5px;
  font-weight: 900;
}

#cancel-task-button {
  width: fit-content;
  font-weight: 900;
  color: black;
  border: var(--form-outline-color) solid 1px;
}


.task-list-item {
  list-style-type: none;
  border-bottom: 1px solid #f0f0f0;
}

.task-list-body {
  display: flex;
  align-items: stretch;
  position: relative;
  padding: 0;
  cursor: pointer;
}

.task-list-checkbox-container {
  margin: 11px 6px 0 -3px;
  z-index: 1;
}

.task-list-item-content {
  flex: 1;
  padding: 8px 0;
  margin-right: 30px;
}

.task-list-item-content-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 3px;
}

.head {
  flex-grow: 1;
  font-size: 14px;
  line-height: 21px;
  word-wrap: break-word;
  overflow: hidden;
  color: grey;
}

.description {
  flex-basis: 100%;
  font-size: 12px;
  word-wrap: break-word;
  overflow: hidden;
  color: grey;
}

.date {
  font-size: 12px;
  line-height: 12px;
}

.task-list-item-delete-wrapper {
  z-index: 1;
  display: flex;
}

.task-edit-image {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

.hidden {
  display: none;
  padding: 0;
}

.task-list-body:hover .hidden, .hidden:hover {
  display: block;
  background: transparent;
}

.block {
  display: block;
}

#inpNavToggle {
  display: none;
}

i {
  color: white;
}

.display {
  display: none;
}

@media only screen and (max-width: 640px){
  .nav {
    display: none;
  }
  
  .display {
    position: fixed;
    display: block;
    top: 45px;
    z-index: 2;
  }

  .todo-list-display-container {
    width: 100%;
  }

}

@media only screen and (max-width: 400px) {
  .todo-list-display-container {
    padding: 35px 20px 0 20px;
  }
}
