*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --header-bg: rgb(228,67,50);
  --white: #fff;
  --nav-bg: rgb(250,250,250);
  --btn-hover: rgb(236,236,236);
}


input {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

button {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
  text-align: left;
  background: none;
}

button:hover {
  background: var(--btn-hover);
}

i {
  margin-right: 10px;
}

.main {
  display: flex;
}

#header {
  width: 100%;
  height: 50px;
  background: var(--header-bg);
  padding: 5px;
}

#header-container {
  width: 100%;
  height: 100%;
}

.logo-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 100%;
}

.logo-container span {
  color: var(--white);
  font-size: 1.5rem;
}

.nav {
  width: 300px;
  min-width: 250px;
  padding: 20px;
  background: var(--nav-bg);
  height: calc(100vh - 50px);
}